<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Knowledge HUB</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="display: block !important;" id="mainNav">
    <header id="header">
        <div class="main-header p-0">
          <div class="container mx-2" style="display: block;">
            <div class="row" style="width: 90vw;">
              <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                <div class="logo">
                  <figure>
                    <a class="navbar-brand" style="font-size: 2rem;" href="{{url_for('get_all_posts')}}">Knowledge HUB</a>
                  </figure>
                </div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

                <div class="collapse navbar-collapse pt-2" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_all_posts') }}">Home</a>
                        </li>
                        {% if not current_user.is_active %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                        {% endif %}
        
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                        {% if current_user.is_active %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                
              </div>
            </div>
        </div>
      </header>
      </nav>
