{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.pexels.com/photos/1029141/pexels-photo-1029141.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Knowledge HUB</h1>
                    <span class="subheading">Roadmap to Wisdom</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    {% include "message.html" %}
    <div class="row">
        {% for post in all_posts %}
        <div class="col-lg-4 col-md-12 mx-auto p-0">
            <img class="float-right" src="{{post[0].img_url}}" alt="" style="width: 13vw;">
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{{ url_for('show_post', post_id=post[0].id) }}">
                    <h2 class="post-title my-0">
                        {{post[0].title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post[0].subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{post[1]}}</a>
                    on {{post[0].date}}
                    {% if current_user.id == 1 %}
                    <a href="{{url_for('delete_post', post_id=post[0].id) }}">✘</a>
                    {% endif %}
                </p>
            </div>
            <hr>
        </div>
        {% endfor %}


    </div>
</div>
<!-- New Post -->
{% if current_user.is_active %}
<div class="" style="margin-right: 10rem;">
    <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
</div>
{% endif %}

{% include "footer.html" %}