{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://media.istockphoto.com/id/1286664973/photo/woman-climbs-the-stairs-from-darkness-to-light.jpg?s=612x612&w=0&k=20&c=AneVXlR2rmRQSs4t0eoV2s6KwoecaiCzzPFw6EVfqac=')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>It All Starts Here</h1>
                    <span class="subheading">Register & Start Contributing</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% include "message.html" %}
            <form action="" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}">
            {{ form.name.label(style="margin-top:20px") }}
            <br>
            {{ form.name }}
            <br><br>
            {{ form.email.label }}
            <br>
            {{ form.email }}
            <br><br>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            <br>
            {{ form.submit(value="Register") }}
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}